.tiprpAppInd{
	border-collapse:collapse;
	position: absolute;
	top:60px;
	left:50px;
	right:0;
	bottom:0;
	overflow-x: auto; 
	overflow-y: auto; 
}
.tiprpAppInd td{
	border-top:1px solid #e3e6eb;
	border-bottom:1px solid #e3e6eb;
	border-left:1px solid #e3e6eb;
	border-right:1px solid #e3e6eb;
	padding:4px 20px;
	text-align:left;
}